@font-face {
    font-family: cali;
    src: url('../fonts/CALIFI.TTF') format('woff');
}

.cover-log {
  display: -webkit-box; /* wkhtmltopdf uses this one */
  -webkit-box-direction: row; /* WebKit */
  -webkit-box-pack: center;
}

.cover-log img {
  width: 1420px;
  height: 100px;
  margin-left: -80px;
  margin-right: -50px;
  
}
.page div {
  border: 0px !important;
}

.page h3 {
  font-family: cali;
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
}
#totals tr {
  background-color: #e5dfeb !important;
}

.gray thead tr {
  background-color: #e5dfeb !important;
  color: rgb(0, 0, 0) !important;
}

.gray thead td {
  background-color: #e5dfeb !important;
  color: #000;
}
